@{
    ViewBag.Title = "Contacts and Help";
}

<div class="alert alert-success" style="margin-top:20px">
    This Application is still in Beta. For Information on Go-live, contact support below
</div>

<h2 class="text-info">@ViewBag.Title</h2>
<hr />

<h4 class="text-info">Christchurch City Council</h4>

<address>
    53 Hereford Street<br />
    Christchurch<br />
    8013<br />
    New Zealand<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tim.coombs@ccc.govt.nz">tim.coombs@ccc.govt.nz</a><br />
    <strong>Information:</strong> <a href="mailto:tim.coombs@ccc.govt.nz">tim.coombs@ccc.govt.nz</a>
</address>