@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                    <img src="~/Content/Images/MagicBox.png" class="rounded float-left">
            </div>
        </div>
        <hr />
        <p class="lead">"I live on the 4th floor and I was taking my dog out for a walk, so we took the elevator down. The dog got in the elevator on my floor and when the door opened we were on the ground floor. The dog thought, "How the fuck did that happen? We were in a magic box!""</p>
        <p class="lead; text-right">-Anonymous 1999</p>
        <p><a href="https://en.wikipedia.org/wiki/The_Magic_Box" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>What?</h2>
        <p>
            Magic Box is the data collection hub for Christchurch City Council. As a diverse business
            the Council runs an enormous diversity of data ingestion pipelines and we were struggling
            to keep them all functioning at the same level of data quality, features and operability.
            <br/><br />
            Magic Box is targeted at ingesting the Council's internal and external datasets through a single framework.
        </p>
        <p><a class="btn btn-default" href="https://whatis.techtarget.com/definition/data-ingestion">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why?</h2>
        <p>
            Rates are used by Council to fund the balance of its costs once all other funding sources are taken
            into account.
            <br /><br />
            IT Efficiencies save you tax dollars
            <br /><br />
            Rates increases at less than 5%
        </p>
        <p><a class="btn btn-default" href="https://ccc.govt.nz/services/rates-and-valuations/rates-and-valuation-search">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How?</h2>
        <p>
            To be able to submit data to a defined data collection you must first register to use Magic Box.
            To become a Boxie please click the button below to register. Or log in if you are an existing user.
            <br /><br />
            Thanks!
        </p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="button" class="btn btn-default" value="Register &raquo" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");">
            <input type="button" class="btn btn-default" value="Login &raquo" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">
        </div>
    </div>
</div>